<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center py-3 mb-4 border-bottom">
        <a href="/" class="ms-3 d-flex align-items-center text-decoration-none">
            <h1 class="fs-4">Blog</h1>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog">Блог</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog/add">Добавить статью</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">Про нас</a>
        </nav>
    </header>
</div>
